body{
    background: rgb(128, 128, 128);
}
.block{
    border: 2px solid red;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    color: white;
}
.tx{
    font-size: 30px;
}
.txt{
    text-decoration: none;
    color: white;
}